<div class="header-proyecto" *ngIf="proyecto">
    <h1 class="titulo-proyecto">{{proyecto.titulo}}</h1>
    <div class="basic-info">
        <div class="proyecto-img">
            <img src="../../../../../../assets/images/crowdfunding-flat-background-vector.png" alt="img">
        </div>
        <div class="card">
            <div class="card-body info">
                <mat-progress-bar mode="determinate" value="{{proyecto.porcentajeDonaciones}}"></mat-progress-bar>
                <div class="text-container">
                    <div class="recaudado">
                        <span>Bs.- {{proyecto.donacionRecibida}}</span>
                        <p>recaudado de Bs.- {{proyecto.donacionEsperada}} como objetivo</p>
                    </div>
                    <div class="donantes-text">
                        <span>{{proyecto.cantidadDonaciones}}</span>
                        <p>donantes</p>
                    </div>
                </div>
            </div>
            <div class="buttons">
                <button *ngIf="user.is_staff === 'False' || user" class="btn btn-primary btn-donar" (click)="openDonation()">Donar a este proyecto</button>
                <button *ngIf="user.is_staff === 'False' || user" class="btn btn-primary compartir">Compartir</button>
                <button *ngIf="user.is_staff && proyecto.estado == 'Revision'" class="btn btn-success btn-aceptar" (click)="aceptarProyecto()">Aceptar</button>
                <button *ngIf="user.is_staff && proyecto.estado == 'Revision'" class="btn btn-danger btn-rechazar" (click)="rechazarProyecto()">Rechazar</button>
            </div>
        </div>
    </div>
    <div class="proyecto-ubi">
        <span>{{proyecto.creador.nombreCompleto}} esta organizando este proyecto para recaudación de
            {{proyecto.tipo.nombre}}</span>
        <p>Creado hace 1 día | <mat-icon>place</mat-icon> Santa Cruz de la Sierra, Bolivia </p>
    </div>
    <div class="info-completa">
        <div class="secciones">
            <mat-tab-group>
                <mat-tab label="Detalles">
                    <app-detalles-pro [DESCRIPCION]="proyecto.descripcion" [HISTORIA]="proyecto.historia"
                        [COMPROMISO]="proyecto.compromisoAmbiental"></app-detalles-pro>
                </mat-tab>
                <mat-tab *ngIf="user.is_staff === 'False' || user" label="Actualizaciones">
                    <app-actualizaciones-pro [ACTUALIZACIONES]="proyecto.actualizaciones"></app-actualizaciones-pro>
                </mat-tab>
                <mat-tab *ngIf="user.is_staff === 'False' || user" label="Comentarios">
                    <app-comentarios-pro [COMENTARIOS]="proyecto.comentarios"></app-comentarios-pro>
                </mat-tab>
                <mat-tab *ngIf="user.is_staff === 'True'" label="Información Privada">
                    <app-comentarios-pro [COMENTARIOS]="proyecto.comentarios"></app-comentarios-pro>
                </mat-tab>
            </mat-tab-group>
        </div>
        <div class="historial">
            <div class="card historial-card">
                <div class="user-info">
                    <img src="../../../../../../assets/images/funditgo_logo1_stroke.png" alt="Imagen de perfil">
                    <h2>{{proyecto.creador.nombreCompleto}}</h2>
                    <span>Creador del proyecto</span>
                </div>
                <div class="historial-donacion">
                    <div class="cantidad">
                        <mat-icon>trending_up</mat-icon>
                        <span>{{proyecto.cantidadDonaciones}} personas donaron</span>
                    </div>
                    <div class="recent-donaciones">
                        <div *ngIf="proyecto.donaciones.length > 0; else nohay">
                            <ng-container *ngFor="let item of proyecto.donaciones">
                                <div class="detalle">
                                    <mat-icon>attach_money</mat-icon>
                                    <div class="donator-info">
                                        <span>Bs.- {{item.monto}}</span>
                                        <p>-{{item.usuario.userName}}</p>
                                    </div>
                                </div>
                            </ng-container>
                        </div>
                    </div>
                    <div class="buttons-historial">
                        <button *ngIf="user.is_staff === 'False'" class="btn">Donar a este proyecto</button>
                        <button *ngIf="user.is_staff === 'False'" class="btn">Compartir</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <ng-template #nohay>
        No Hay Donaciones
    </ng-template>
</div>