<ng-container *ngIf="muestra()">
  <button mat-button [matMenuTriggerFor]="is_staff">Mi Perfil</button>
  <mat-menu #is_staff="matMenu" xPosition="before">
    <button mat-menu-item>Peticiones de actualización</button>
    <button mat-menu-item>Peticiones de proyectos</button>
    <button mat-menu-item>Lista de usuarios</button>
    <button mat-menu-item (click)="logout()">Cerrar Sesión</button>
  </mat-menu>
</ng-container>

<ng-container *ngIf="!muestra()">
  <button mat-button [matMenuTriggerFor]="no_staff">Mi Perfil</button>
  <mat-menu #no_staff="matMenu" xPosition="before">
    <button mat-menu-item [matMenuTriggerFor]="donador">Donador</button>
    <button mat-menu-item [matMenuTriggerFor]="staff">Staff</button>
    <button mat-menu-item (click)="logout()">Cerrar Sesión</button>
  </mat-menu>

  <mat-menu #donador="matMenu" xPosition="before">
    <button mat-menu-item>Mis Donaciones</button>
    <button mat-menu-item>Guardados</button>
  </mat-menu>

  <mat-menu #staff="matMenu" xPosition="before">
    <button mat-menu-item>Mis Proyectos</button>
    <button mat-menu-item>Guardados</button>
  </mat-menu>
</ng-container>
