.profile-button {
    font-size: 16px;
    color: #333;
}

.profile-menu {
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
}

.sub-menu {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
}

.mat-menu-item {
    font-size: 14px;
    color: #333;
}

.mat-menu-item:hover {
    background-color: #eaeaea;
}