<section class="lista-proyectos-component">
    <div class="container-proList">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
                <div class="card border-light">
                    <img src="../../../../../../assets/images/crowdfunding-flat-background-vector.png"
                        class="card-img-top square" alt="...">
                    <div class="card-body">
                        <div class="info-min">
                            <span class="date">Abril 04, 2023</span>
                            <span class="cant-don">230 donaciones</span>
                        </div>
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                            <button [ngClass]="{'isFavorite': isFavorite}" class="col-3 favorite" mat-raised-button type="button" (click)="saveFavorite()">
                                <mat-icon>bookmark_border</mat-icon>
                            </button>
                            <button class="col-sm-9 show" mat-raised-button type="button">Ver</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <mat-paginator [length]="lengthTable" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
        (page)="pageEvent = $event; onPaginateChange($event)" showFirstLastButtons="true">
    </mat-paginator>
</section>