section {
    margin-top: 20px;
}

.actualizacion {
    background-color: #F2F0EB;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.fecha {
    font-size: 14px;
    color: #999CA9;
    margin-bottom: 5px;
}

.descripcion {
    font-size: 16px;
    color: #011140;
    margin-bottom: 5px;
}

.usuario {
    font-size: 14px;
    color: #7B7D8C;
}