<section>
    <div class="comentarios-header">
        <h2 class="comentarios-title">ACTUALIZACIONES</h2>
        <button *ngIf="isColaborador || is_staff === true" class="comentar-btn" (click)="openAddActualizacionDialog()" mat-raised-button>Agregar Actualización</button>
    </div>
    <div *ngIf="actualizaciones.length > 0; else nohay">
        <div *ngFor="let actualizacion of actualizaciones">
            <div class="actualizacion">
                <div class="fecha">{{ actualizacion.fecha | date:'MMMM dd, yyyy' }}</div>
                <div class="descripcion">{{ actualizacion.descripcion }}</div>
                <div class="usuario">Actualización hecha por: {{ actualizacion.usuario.nombreCompleto }}</div>
            </div>
        </div>
    </div>

    <ng-template #nohay>
        No Hay Actualizaciones
    </ng-template>
</section>