.container {
    margin: 0 auto;
    width: 60%;
}

.group-btn {
    display: flex;
    text-align: end;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 20px;

    button {
        display: block;
        margin-bottom: 10px;
        margin-left: 5px;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    button:first-child {
        margin-left: 0px;
    }

    button:last-child {
        margin-right: 0px;
    }
}