<section class="landing-component">
    <div class="landing-container">
        <div class="header">
            <img src="../../../../../assets/images/crowdfunding-flat-background-vector.png" alt="crow_background">
            <div class="buttons">
                <button mat-raised-button type="button"
                    (click)="crearProyecto()"
                    color="primary">
                    Publicar
                </button>
                <span>o</span>
                <button href="#ancla-1" mat-raised-button type="button"
                    color="primary">
                    Donar
                </button>
            </div>
        </div>
        <article name="ancla-1" class="lista-proyectos">
            <app-lista-proyectos></app-lista-proyectos>
        </article>
    </div>
</section>