// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '~@angular/material' as mat;
@import '~bootstrap/scss/bootstrap';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$funditgo-front-primary: mat.define-palette(mat.$indigo-palette);
$funditgo-front-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$funditgo-front-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$funditgo-front-theme: mat.define-light-theme((color: (primary: $funditgo-front-primary,
        accent: $funditgo-front-accent,
        warn: $funditgo-front-warn,
      )));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($funditgo-front-theme);

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  margin: 0;
  font-family: 'DM Sans', sans-serif;
}

body {
  margin: 0;
  font-family: 'DM Sans', sans-serif;
}

.group-btn {
  display: block;
  text-align: end;
  margin-bottom: 20px;
  button {
    display: block;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  button:first-child {
    margin-left: 0px;
  }
  button:last-child {
    margin-right: 0px;
  }
}